.bookingPageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 128px);
}

.title {
    margin: 28px 0 61px 0;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #F5F5F5;
}

.catalogContainer {
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    width: 1160px;
    justify-content: space-between;
    margin: 57px 0 37px 0;
    font-family: Montserrat;
    color: #FFFFFF;
}

.subText {
    display: flex;
    flex-direction: row;
}

.subtitleText {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.subtitleFind {
    padding: 11px 0 0 12px;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
}

.subSort {
    display: flex;
    flex-direction: column;
}

.subSortBtn {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
}

.dropDown {
    margin-top: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-property: height;
    transition-duration: 250ms;
    overflow: hidden;
}

.dropMenu {
    width: 219px;
    background-color: #212528;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    height: 45px;
    border: none;
    text-align: left;
    padding-left: 31px;
}

.dropBtn {
    display: none;
}

.btnText {
    padding-top: 7px;
}

.sortText {
    padding: 10px 6px 0px 6px;
}

.sortGal, .sortRows {
    padding-top: 12px;
}

.catalogItem {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-bottom: 78px;
    padding: 44px 0;
    background-color: #D9D9D9;
    border-radius: 2px;
}
.listItemsEmpty{
    font-family: Montserrat;
    font-size: 30px;
    color: #D9D9D9;
    width:auto;
    height: 180px;
    text-align: center;
    margin-top: 55px;
}