.bookingPageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 128px);
}

.title {
    margin: 28px 0 61px 0;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #F5F5F5;
}

.catalogContainer {
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 57px 0 37px 0;
    font-family: Montserrat;
    color: #FFFFFF;
}

.subtitleText {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.subtitleFind {
    padding: 4px 0 0 12px;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
}

.catalogItem {
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-bottom: 78px;
    padding: 44px 0;
    background-color: #D9D9D9;
    border-radius: 2px;
}
.itemConteiner {
    width: 464px;
}

.itemConteinerPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}

.catalogItemInfo, .popupItemInfo {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.carName, .popupСarName {
    width: 353px;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

.carPrice {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.carButton {
    width: 247px;
    height: 38px;
    border: none;
    border-radius: 2px;
    background-color: #212528;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.carStars {
    margin: 6px 0 3px 0;
}

.carYear, .carBox, .carClass, .popupСarYear, .popupСarBox, .popupСarClass, .popupDayCost {
    margin-top: 9px;
    color: #212528;
}

.popupItem {
    display: flex;
    justify-content: space-between;
}

.popupCarImg {
    margin-top: 60px;
}

.popupСarName {
    margin: 47px 0 14px 0;
}

.popupDateRangeText, .popupDateRange, .popupSumCost, .popupSumCost {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.popupBookingInfo {
    margin-left: 10px;
}

.popupDateRange {
    margin-top: 4px;
}

.popupHighlight {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.popupCarAdress {
    margin-top: 10px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.popupSumCost {
    margin: 15px 0;
}

.popupHighlightCost {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}