.header {
    display: flex;
    min-width: 1400px;
}
.headerMenuList {
    display: flex;
    max-width: 1400px;
    height: 80px;
    align-items: center;
    gap: 252px;
}
.headerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.headerLogo {
    display: flex;
    height: 47px;
}
.headerListIcon {
    display: flex;
    width: 31px;
    height: 31px;
}
.headerListText{
    display: flex;
    color: #f5f5f5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    margin-left: 1px;
}
.headerListText:hover{
    color:#a3a3a3;
}
.headerList:hover {
    cursor: pointer;
}
.headerMenu{
    position: absolute;
    margin-top: 672px;
    padding: 11px 12px 8px 0;
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 747px;
    background-color: #212528;
}
.menuItem{
    padding-top: 17px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}
.headerListIcon_Exit{
    width: 27px;  
}
.menuItem{
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    color:#f5f5f5;
    text-align: left;
    margin-left: 2px;
}
.menuItem:hover{
    color: #a3a3a3;
}