.header {
    display: flex;
    min-width: 1400px;
}
.headerMenuList {
    display: flex;
    max-width: 1400px;
    height: 80px;
    align-items: center;
    gap: 252px;
}
.headerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.headerLogo {
    display: flex;
    height: 47px;
}
.headerListIcon {
    display: flex;
    width: 31px;
    height: 31px;
}
.headerListText{
    display: flex;
    color: #f5f5f5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}
.headerListText:hover{
    color:#a3a3a3;
}
.headerList:hover {
    cursor: pointer;
}
.headerMenu{
    position: absolute;
    margin-top: 202px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 254px;
}
.menuItem{
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.headerListIcon_Exit{
    width: 24px;
    height: 24px;
}
.menuItem{
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    color:#f5f5f5;
    text-align: left;
}
.menuItem:hover{
    color: #a3a3a3;
}