* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #212528;
  min-height: 100vh;
  height: 100%;
}

.swiper {
  width: 1400px;
  height: 550px;
}

.swiper-button-next, .swiper-button-prev
{
  color: #F5F5F5 !important;
}

.swiper-button-prev {
  margin: 130px 0 0 442px !important;
}

.swiper-button-next {
  margin: 130px 442px 0 0 !important;
}

.swiper-slide {
  visibility: hidden;
}

.swiper-slide img {
  width: 643px;
  height: 279px;
}

.swiper-slide-prev, .swiper-slide-active, .swiper-slide-next {
  visibility: visible;
}

.swiper-slide-prev p,
.swiper-slide-next p {
  visibility: hidden;
}

.swiper-slide-prev, .swiper-slide-next {
  transition: transform 0.3s ease !important; 
}

.swiper-slide-active {
  display: flex !important; 
  flex-direction: column;
  align-items: center;
  transform: scale(0.9) translateY(70px) !important;
}

.rdrCalendarWrapper {
  background-color: transparent !important;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrCalendarWrapper, .rdrMonth{
  width: 290px !important;
  height: 308px !important;
}

.rdrDayToday .rdrDayNumber span:after  {
  background: #212528 !important;
}

.rdrInRange, .rdrStartEdge, .rdrEndEdge {
  background-color: #212528 !important;
}

.rdrDayStartPreview, .rdrDayEndPreview, .rdrDayInPreview{
  color: #212528 !important;
}

.rdrNextPrevButton, .rdrPprevButton {
  background: transparent !important;
  border: 1px solid #212528  !important;
}

.rdrNextButton i {
  margin: 0 0 0 6px !important;
  border-color: transparent transparent transparent #212528 !important;
}

.rdrPprevButton i {
  border-color: transparent #212528 transparent transparent !important; 
}

.rdrMonthAndYearWrapper {
  padding-top: 13px !important;
}

/* если перестанут работать пусть будет пока */
/* .rr--hf-svg-off, .rr--hf-svg-on {
  stroke: #CCB746 !important;
  stroke-width: 1 !important;
} */