.popupBox {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}
 
.box {
  position: relative;
  width: 819px;
  height: 592px;
  margin: 0 auto;
  margin-top: calc(15vh - 20px);
  background: #D9D9D9;
  border-radius: 4px;
  padding: 14px 30px 30px 30px;
  border: none;
  overflow: auto;
}

.popupTitle {
    text-align: center;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 600;
    line-height: 51px;
}

.popupClose {
  display: flex;
  justify-content: flex-end;
}
 
.popupCloseIcon {
  content: 'x';
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.popupButton {
  position: absolute;
  margin-left: 478px;
  margin-top: -19px;
  width: 270px;
  height: 38px;
  border: none;
  border-radius: 2px;
  background-color: #212528;
  color: #F5F5F5;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.popupItem {
  display: flex;
  justify-content: space-between;
}

.popupCarImg {
  margin-top: 60px;
}

.popup–°arName {
  margin: 47px 0 14px 0;
}

.popupDateRangeText, .popupDateRange, .popupSumCost, .popupSumCost {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.popupBookingInfo {
  margin-top: -14px;
  margin-left: 10px;
  padding-bottom: 14px;
}

.popupDateRange {
  margin-top: 4px;
}

.popupHighlight {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.popupCarAdress {
  margin-top: 10px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.popupSumCost {
  margin: 15px 0;
}

.popupHighlightCost {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

