.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 215px;
    width: auto;
    height: 128px;
}

.links {
    display: flex;
    gap: 35px;
}

.linksIcon:hover {
    cursor:pointer;
}

.footerInfo {
    margin-top: 23px;
    text-align: left;
}


.footerInfo, .linksText, .footerLink {
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footerLink{
    text-decoration: underline;
}
.footerLink:hover{
    color:#595757;
    cursor:pointer;
}