.container {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    align-items: flex-end;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    height: 128px;
}

.links {
    display: flex;
    gap: 35px;
}

.linksIcon:hover {
    cursor:pointer;
}

.footerInfo {
    margin-top: 23px;
    text-align: left;
}


.footerInfo, .linksText, .footerLink {
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footerLink{
    text-decoration: underline;
}
.footerLink:hover{
    color:#a3a3a3;
    cursor:pointer;
}