.itemConteiner {
    width: 464px;
}

.catalogItemInfo {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.carName {
    width: 353px;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
}

.carStars {
    display: flex;
    margin: 6px 0 3px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.carStarsNumber {
    margin-left: 7px;
    color: #212528;
}

.carYear, .carBox, .carClass {
    margin-top: 9px;
    color: #212528;
}

.carButton {
    width: 247px;
    height: 38px;
    border: none;
    border-radius: 2px;
    background-color: #212528;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.carPrice {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.itemConteinerPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}
.carReviewCount{
    color: #212528;
    opacity: 0.8;
    margin-left: 10px;
    margin-top: 3px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.carReviewCount:hover{
    text-decoration: underline;
}
